@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    font-family: Nunito, sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: grid;
    grid-template-rows: 1fr max-content;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

main > section {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #ffffff70;
    width: max-content;
    height: max-content;
}

.main-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.weather-type-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#weather-type, #current-temp {
    font-size: 1.4rem;
}

.small, .up {
    font-size: 0.8rem;
}

.small > .up {
    font-size: 0.6rem;
}
.up {
    vertical-align: super;
}

.hide {
    display: none;
}

#search-btn > img {
    width: 1rem;
}

footer {
    background: #3d3e46;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
    font-size: 0.8rem;
}

footer > a > img {
    width: 32px;
}

footer > a > img:hover {
    opacity: 0.8;
}